In [2]:
from finpy_main import OptionsClient, DataBaseClient, FredClient, FmpClient

from Keys import FMPKey, PolygonKey, FREDKey 

from Lists import snp_500_by_market_cap as snp
from Lists import forex_pairs as forex
from Lists import indecies as ind
from Lists import fred_econ as econ


import pandas as pd  # type: ignore

import time

In [5]:
db = DataBaseClient('snp50_data.db')

In [6]:
fmp = FmpClient(FMPKey)
op = OptionsClient(PolygonKey)
f = FredClient(FREDKey)

In [7]:
snp50 = snp[:50]

In [24]:
fmp.get_aggs_index('^vix')

,date,open,high,low,close,change,percent_change,vwap,ticker
0,2024-06-17,13.07,13.29,12.50,12.75,-0.32,-2.4484,12.9025,^VIX
1,2024-06-14,12.22,13.45,12.12,12.66,0.44,3.6006,12.6125,^VIX
2,2024-06-13,12.05,12.68,11.88,11.94,-0.11,-0.9129,12.1375,^VIX
3,2024-06-12,13.10,13.15,11.94,12.04,-1.06,-8.0916,12.5575,^VIX
4,2024-06-11,12.85,13.47,12.78,12.85,0.00,0.0000,12.9875,^VIX
...,...,...,...,...,...,...,...,...,...
6162,2000-01-07,21.72,21.72,21.72,21.72,0.00,0.0000,21.7200,^VIX
6163,2000-01-06,25.73,25.73,25.73,25.73,0.00,0.0000,25.7300,^VIX
6164,2000-01-05,26.41,26.41,26.41,26.41,0.00,0.0000,26.4100,^VIX
6165,2000-01-04,27.01,27.01,27.01,27.01,0.00,0.0000,27.0100,^VIX
6166,2000-01-03,24.21,24.21,24.21,24.21,0.00,0.0000,24.2100,^VIX

In [31]:
count = 0
for i in snp50:
    sym = i['symbol']
    data = fmp.get_income_statement_q(sym)
    if isinstance(data, str):
        continue
    else:
        db.data_add(data, 'income_q')

In [32]:
db.get_table_names()

            name
0   pricing_data
1     market_cap
2       dividend
3       income_a
4         cash_a
5      balance_a
6          forex
7          index
8      balance_q
9         cash_q
10      income_q